$symbol-blue: rgb(0,24,113); // Symbol Blue
$silver-gray: rgb(158,162,162); // Silver Gray
$scarlet-red: rgb(186,12,47); // Scarlet Red
$air-force-yellow: rgb(255,205,0); // Air Force Yellow
$black: rgb(0,0,0); // Black
$white: rgb(255,255,255); // White