# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Files that get generated if you accidentally run yarn in the project root
node_modules/
yarn.lock
package.json

# Local dev environment
bin/
temp/
testdata/
.env
